# IDEs
.idea
.vscode
*.iml

# Test files
testsdata/go/project1/go.sum
testsdata/go/tmp
tmp
out

# Pipdeptree
artifactory/utils/pip/dependencies/deptreescript.go

# JFrog executable
jfrog

# Vim
*~
*.swp

# IOS
*.DS_Store
