pk._g3>=1.0,<=2.0
git+https://myvcs.com/some_dependency@sometag#egg=SomeDependency
git://git.example.com/MyProject#egg=MyProject
hg+http://hg.myproject.org/MyProject#egg=MyProject
pkg2[something]
ProjectB<1.3
ProjectA==1.0.1
ProjectC == 3.0.3
pk-g1
git+https://git.repo/some_repo.git#egg=subdir&subdirectory=subdir_path
/Users/barb/test-project
git+https://myvcs.com/some_dependency@sometag#egg=Some-Dependency&subdirectory \
 --- this line shouldn't be parsed
# this line shouldn't be parsed