name: "Nuget test"
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup JFrog CLI
      #this step uses github cli action
        uses: jfrog/setup-jfrog-cli@v2
        #with:
          #version: 2.14.0
        env:
          JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_SECRET_1 }}
      - name: Checkout 
      #doing a checkout because we want to build our jfrog cli and start the life cycle agains test
        uses: actions/checkout@v1
      - name: Build
        run: |
            # Ping the server test
            jfrog rt ping
            jfrog rt dotnet restore

         
             
     
             
